<form action="/file/upload" enctype="multipart/form-data" method="POST">
    <label for="file_upload">File</label>
    <input type="file" name="file_upload" />
    <label for="foods">What do you want to eat?</label><br />
    
    <button type="submit">Upload File</button>
  </form>