<h1>WELCOME BACK <%= user.id %></h1>
<form action="/folder/create" method="POST">
    <label for="name">Name</label>
    <input id="name" name="name" type="text" />
    <button type="submit">Create Folder</button>
  </form>