<form action="" enctype="multipart/form-data" method="POST">
    <label for="file_upload">File</label>
    <input type="file" name="file_upload" />
    <label for="folder">Folder</label>
    
    <button>Upload File</button>
  </form>