<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <% if (locals.user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <div>
      <% folders.forEach(folder => { %>
        <div>
        <a href="/folder/<%= folder.id %>"><%= folder.name %> </a>
        </div>
      <% }); %>
    </div>
    <form method="POST" action="/folder/delete">
      <button type="submit">Delete All Folders</button>
</form>
    <a href="/file/upload">Upload File</a>
    <a href="/folder/create">Create Folder</a>
    <a href="/log-out">LOG OUT</a>
  <% } else { %>
    <h1>please log in</h1>
    <a href="/sign-up">Sign Up</a>
    <a href="/log-in">Log In</a>
  <%}%>
</body>
</html>