<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>WELCOME BACK <%= user.id %></h1>
    <form action="" method="POST">
      <label for="name">Name</label>
      <input id="name" name="name" value="<%= folder.name %>" type="text" />
      <button>Update Folder</button>
    </form>
</body>
</html>