<h1>WELCOME BACK <%= user.id %></h1>
  <form action="" method="POST">
    <label for="name">Name</label>
    <input id="name" name="name" value="<%= folder.name %>" type="text" />
    <button>Update Folder</button>
  </form>
