/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
}

html, body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.thumbnail {
  max-height: 100px;
}

.folder-container {
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
align-content: space-between;
gap: 25px;
}

.folder-container > div {
  border: 1px solid black;
  padding: 15px;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.folder {
  color: black;
  font-size: larger;
}

.links-container {
  display: flex;
  justify-content: space-between;
  font-size: larger;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logout-container {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-right: 20px;
}

.create-container {
  display: flex;
  column-gap: 10px;
  margin-left: 20px;
}

.file-image {
  max-height: 500px;
}

.file-container {
  display: flex;
  flex-direction: column;
}

.file-action-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  font-size:large;
}

.file-info {
display: flex;
flex-direction: column;
}

.all-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.folder-name {
  text-align: center;
}

.files-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  gap: 10px;
}

.small-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 20px;
}

.folder-action-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.page-container {
  display: flex;
  flex-direction: column;
}

.file-form {
display: flex;
width: 400px;
flex-direction: column;
align-items: start;
}

.folder-form {
display: flex;
flex-direction: column;
align-items: center;
text-align: left;
}

.folder-form > div, .file-form > div {
  display: flex;
  column-gap: 20px;
}

.file-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  margin-top: auto;
}